vendor/
node_modules/
bootstrap/cache/
.env

storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/
storage/app/*.log
storage/app/*.gz

.env.local
.env.development
.env.test
.env.production

.idea/